
        @font-face {
    font-family: 'Intro';
    src: url('Intro.woff2') format('woff2'),
        url('Intro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
        body{
            font-family: 'Roboto Slab', serif;
            color: #000000;
        }
        h1,
        .btn,
        .main-heading,
        .logo{
            font-family: Intro;
        }
        .btn{
            background-color: #5222D0;
            color: white;
            font-family: Intro;
            border-radius: 100px;
        }
        .btn-card{
            font-size: 13px;
            font-weight: 400;
            width: 115px;
            height: 38px;
            line-height: 13px;
            
        }
        .btn-buy{
            font-size: 35px;
            width: 270px;
            height: 84px;
            line-height: 35px;
        }
        .btn-card_big{
            height: 84px;
            width: 270px;
            border-radius: 100px;
            font-size: 35px;
        }
        .logo{
            display: block;
            text-transform: uppercase;
        }
        .logo-container{
            margin-top: 50px;
        }
        .main{
            margin-top: 90px;
        }
        .main-heading{
            padding-bottom: 10px;
            font-size: 60px;
            font-weight: 400;
            line-height: 72px;
            width: 542px;
        }
        .main-text{
            padding-bottom: 30px;
        }
        .main-img{
            width: 400px;
            height: 500px;
            margin-top: 60px;
            margin-left: 100px;
        }
        .main-background{
            background-image: url(image/background.png) ;
            background-size: 800px 700px;
        }
        .nav-link{
            font-family: inherit;
            color: #5222D0;
        }
        .nav-item{
            padding-right: 34px;
        }